extends ../structure/default.jade

include ../includes/modalHelper.jade
include ../includes/basic.jade

block append scripts
    script(src="/scripts/includes/modalHelper.js")
    script(src="/scripts/includes/cardicons.js")
    script(src="/scripts/includes/selectTrigger.js")
    script(src="/scripts/handin.js")

block append styles
    link(href="/styles/flip.css" rel="stylesheet")

if file.assignment
    block headerTitle
        h1
            if file.assignment && file.assignment.group
                a(href="/group/" + file.assignment.group._id)= file.assignment.group.name
            else
                | Unknown Course
        h2#subheader Hand-in

block content
    .container
        - var zipURL = file.urls.pop()
        if !file.assignment                 
            .alert.alert-warning
                p
                    b Alert! 
                    span The associated assignment was removed!
        else
            h2= file.assignment.name
        h3#thefile(fileid=file._id)= file.name
        if file.assignment.typ != "open" && file.due > file.assignment.deadline
            hr
            .alert.alert-warning
                p
                    b Late Handin! 
                    span Assignment was handed in on , but was due for
        hr
        .row
            .col-sm-6
                +cardTable("Students")
                    for usr in file.students
                        +cardTableFlip(usr.name + " " + usr.surename)
                            if usr._id == user.id
                                p This is you :)
                            else
                                .bottom-icons
                                    +flip-table-a("mailto:" + usr._id + "@student.utwente.nl", "envelope")(target="_blank")
                                    if user.admin
                                        +flip-table-a("/group/" + file.assignment.group._id + "/user/" + usr._id, "list-alt")(target="_blank")
            .col-sm-6
                +cardTable("Files")
                    for f in file.urls
                        +cardTableFlip(f.split("/")[6].split("?")[0])
                            .bottom-icons
                                +flip-table-a(f, "download")(target="_blank")
        hr
        .row
            .col-sm-6
                +cardTable("Notes")
                if file.notes.length > 0
                    p.whiteContainer!= file.notes.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")
                else
                    p.whiteContainer The students did not provide any additional comments.
            .col-sm-6
                +cardTable("Feedback")
                if file.feedback.length > 0
                    p.whiteContainer!= file.feedback.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")
                else
                    p.whiteContainer No feedback was given yet.
        .row
            hr
            +cardLink-a(zipURL, "Download all Files")(target="_blank")
            if user.admin
                +cardLink("Update Feedback")(data-toggle="modal" data-target="#feedbackModal")
                - var mailStudents = file.students.map(s => s._id + "@student.utwente.nl,")
                +cardLink-a("mailto:" + mailStudents, "Mail Students")
                if file.assignment && file.assignment.group
                    +cardLink-a("/group/" + file.assignment.group._id, "Go to Course")
                    +cardLink-a("/group/" + file.assignment.group._id + "/assignment/" + file.assignment._id, "Go to Assignment")
                    +cardLink-a("/group/" + file.assignment.group._id + "/feedback", "Go to Feedback List")
                    +cardLink-a("/group/" + file.assignment.group._id + "/feedback/latest", "Feedback Next Hand-in")
            else if file.students.map(s => s._id.toString()).indexOf(user.id) >= 0
                +cardLink("Add Additional Comments")
                if file.assignment && file.assignment.group
                    +cardLink-a("/group/" + file.assignment.group._id, "Go to Course")

    +modal("feedbackModal", "Feedback Hand-in", "primary", "Update Feedback", false)
        .form-group
            label.control-label(for="feedback") Feedback
            textarea.form-control#feedback(rows="5")= file.feedback