extends groupPage.jade

include ../includes/modalHelper.jade
include ../includes/basic.jade

block append scripts
    script(src="/scripts/includes/modalHelper.js")
    script
        |$('.datepicker').datepicker();
    script(src="/scripts/includes/timeline.js")
    script(src="/scripts/includes/selectTrigger.js")
    script(src="/scripts/overview.js")
    script(src="/scripts/includes/js/checkedListGroup.js")
    script
        |initListGroup($("#studentUserList"))
    script(src="/scripts/includes/js/dropzone.min.js")
    script(src="/scripts/includes/dropzoneCustom.js")

block append styles
    link(href="/styles/dropzone.min.css" rel="stylesheet")
    link(href="/styles/dropzoneCustom.css" rel="stylesheet")

block nav_right
    +navbar-a-active("", group.name)
    +navbar-a(group.id + "/overview", "Result Overview")

block groupContent
    -var users = []
    
    #group_data(start=group.start end=group.end group=group._id)

    - var asses_final = []
    - var asses_o_final = []
    - var asses = []
    - var asses_o = false
    - var asses_done = []

    - var newFiles = []
    for file in files
        if file.file.assignment != null
            - newFiles.push(file)
    - files = newFiles

    for ass in group.assignments
        if ass.typ == "open"
            - asses_o = true
            for handin in files.filter(f => f.file.assignment._id.toString() == ass._id.toString())
                if !handin.final
                    - asses_o_final.push(handin)
        else 
            - var handins = files.filter(f => f.file.assignment._id.toString() == ass._id.toString())
            if handins.length == 0
                - asses.push(ass)
            else if handins[0].final
                - asses_done.push(ass)
            else
                - asses_final.push(ass)

    if asses_final.length > 0 || asses_o_final.length > 0
        .section-container
            h2 Non-Final Assignments

            mixin nonFinalCard(ass, file)
                +card()
                    +card-simple(ass.name, "/file/" + file._id)
                        span= file.name
                    .card-date-sepperator
                    if ass.typ == 'open'
                        .card-date.d-flex.card-date-done.bg-success
                            .small= file.timestamp.toDateString()
                    else if file.timestamp > ass.due
                        .card-date.d-flex.card-date-done.bg-warning
                            .mr-auto.small= file.timestamp.toDateString()
                            .ml-auto.small= ass.due.toDateString()
                    else
                        .card-date.d-flex.card-date-done.bg-success
                            .mr-auto.small= file.timestamp.toDateString()
                            .ml-auto.small= ass.due.toDateString()
                    +card-icons()
                        a.btn.btn-primary.btn-card-icon.cpointer(href="/file/" + file._id)
                            span.oi.oi-list
                        button.btn.btn-success.btn-card-icon.cpointer(class="manipulate" data-toggle="modal" data-target="#acceptAssignment" target="#acceptAssignment_title" text-data="#{file.name}" attr-data='{"file": "#{file._id}"}')
                            span.oi.oi-check
                        button.btn.btn-danger.btn-card-icon.cpointer(class="manipulate" data-toggle="modal" data-target="#declineAssignment" target="#declineAssignment_title" text-data="#{file.name}" attr-data='{"file": "#{file._id}"}')
                            span.oi.oi-x
                        if ass.link.length > 0
                            a.btn.btn-info.btn-card-icon.cpointer(href="http://" + ass.link target="_blank")
                                span.oi.oi-info

            +card-container()
                if asses_final.length > 0
                    for ass in asses_final
                        - var file = files.filter(f => f.file.assignment._id.toString() == ass._id.toString())
                        +nonFinalCard(ass, file[0].file)
                
                if asses_o_final.length > 0
                    - var ass = group.assignments[0]
                    for file in asses_o_final
                        +nonFinalCard(ass, file.file)

    .section-container
        h2 Assignments
        if asses.length > 0
            +card-container()
                for ass in asses
                    - var file = files.filter(f => f.file.assignment._id.toString() == ass._id.toString())
                    +card()
                        +card-simple(ass.name)(class="manipulate cpointer" data-toggle="modal" data-target="#uploadAssignment" target="#uploadAssignment_title" text-data="#{ass.name}" attr-data='{"assignment": "#{ass._id}"}')
                        .card-date-sepperator
                        if ass.due < new Date()
                            .card-date.d-flex.bg-danger
                                span.small= ass.due.toDateString()
                        else 
                            .card-date.d-flex.bg-primary
                                span.small= ass.due.toDateString()
                        +card-icons()
                            button.btn.btn-success.btn-card-icon.cpointer(class="manipulate" data-toggle="modal" data-target="#uploadAssignment" target="#uploadAssignment_title" text-data="#{ass.name}" attr-data='{"assignment": "#{ass._id}"}')
                                span.oi.oi-data-transfer-upload
                            if ass.link.length > 0
                                a.btn.btn-secondary.btn-card-icon.cpointer(href="http://" + ass.link target="_blank")
                                    span.oi.oi-info
        else
            p.lead There are no open assignments!

    if asses_done.length > 0
        .section-container
            h2 Completed Assignments
            +card-container()
                for ass in asses_done
                    - var file = files.filter(f => f.file.assignment._id.toString() == ass._id.toString())
                    +card()
                        +card-simple(ass.name, "/file/" + file[0].file._id)
                            span= file[0].file.name
                        .card-date-sepperator
                        if file[0].file.timestamp > ass.due
                            .card-date.d-flex.card-date-done.bg-warning
                                .mr-auto.small= file[0].file.timestamp.toDateString()
                                .ml-auto.small= ass.due.toDateString()
                        else
                            .card-date.d-flex.card-date-done.bg-success
                                .mr-auto.small= file[0].file.timestamp.toDateString()
                                .ml-auto.small= ass.due.toDateString()
                        +card-icons()
                            a.btn.btn-primary.btn-card-icon.cpointer(href="/file/" + file[0].file._id)
                                span.oi.oi-list
                            if ass.link.length > 0
                                a.btn.btn-secondary.btn-card-icon.cpointer(href="http://" + ass.link target="_blank")
                                    span.oi.oi-info

    if asses_o
        .section-container
            h2 Free Assignment
            - var ass = group.assignments[0]
            - var handins = files.filter(f => f.file.assignment.typ == "open").filter(f => f.final)
            if handins.length == 0
                p.lead You did not hand-in any free assignments yet!
            else 
                +card-container()
                    for file in handins
                        +card()
                            +card-simple(ass.name, "/file/" + file.file._id)
                                span= file.file.name
                            .card-date-sepperator
                            .card-date.d-flex.card-date-done.bg-success
                                .mr-auto.small= file.file.timestamp.toDateString()
                            +card-icons()
                                a.btn.btn-primary.btn-card-icon.cpointer(href="/file/" + file.file._id)
                                    span.oi.oi-list

            .section-buttons
                button.btn.btn-outline-primary.btn-section.cpointer(type="button" class="manipulate" data-toggle="modal" data-target="#uploadAssignment" target="#uploadAssignment_title" text-data="Free Assignment" attr-data='{"assignment": "#{ass._id}"}')
                    span.oi.oi-plus

    +modal('uploadAssignment', "Upload Assignment: ", 'primary', 'Upload Assignment', true)
        .form-group
            +text('Hand-in Name', 'handInName')
        .form-group
            form.dropzone.form-control#uploadedFiles(action="file-upload" method="post" enctype="multipart/form-data")
                input.hide(type="file" name="files")
                .dz-message
                    p Click or drag files to upload.
        .form-group
            .well#uploadedFilesSelect
                ul.list-group.checked-list-box#uploadedFilesList
        hr
        if group.students.length > 1
            .form-group
                label(for="userSelect") Partners
                .well#studentSelect
                    ul.list-group.checked-list-box#studentUserList
                        for student in group.students
                            if student._id != user.id
                                li.list-group-item(value=student._id) #{student.name} #{student.surename} (#{student._id})
        .form-group
            label.control-label(for="comments") Additional Comments (optional)
            textarea.form-control#comments(rows="5")

    +modal('acceptAssignment', "Accept Assignment: ", 'primary', "I'm Completely Sure", true)
        .alert.alert-info
            span Are you sure you want to accept this assignment?

    +modal('declineAssignment', "Decline Assignment: ", 'danger', "I'm Completely Sure", true)
        .alert.alert-warning
            span Are you sure you want to decline this assignment?