extends structure/default.jade

include includes/modalHelper.jade
include includes/basic.jade

block append scripts
    script(src="/scripts/includes/modalHelper.js")
    script(src="/scripts/includes/selectTrigger.js")
    script(src="/scripts/handin.js")

block nav_right
    if file.assignment && file.assignment.group 
        if user.admin
            +navbar-a("/group/" + file.assignment.group._id, file.assignment.group.name)

            +navbar-dropdown("Feedback", "feedbackDropdown")
                +dropdown-a("/group/" + file.assignment.group._id  + "/feedback/latest", "Feedback Oldest Handin")
                +dropdown-a("/group/" + file.assignment.group._id  + "/feedback", "Feedback List")

            +navbar-dropdown("Results", "resultsDropdown")
                +dropdown-a("/group/" + file.assignment.group._id  + "/user", "Results by Student")
                +dropdown-a("/group/" + file.assignment.group._id  + "/assignment", "Result by Assignment")
        else if file.students.map(s => s._id.toString()).indexOf(user.id) >= 0
            +navbar-a("/group/" + file.assignment.group._id, file.assignment.group.name)

block content
    .container#groupData(name=file.assignment.group.name)
        - var zipURL = file.urls.pop()
        if file.assignment && file.assignment.typ != "open" && file.timestamp > file.assignment.due
            .alert.alert-warning
                span
                    b Late Handin! 
                    span Assignment was handed in on #{file.timestamp.toDateString()}, but was due for #{file.assignment.due.toDateString()}
        if !file.assignment        
            .alert.alert-warning
                span
                    b Alert! 
                    span The associated assignment was removed!
        else if !file.assignment.group
            .alert.alert-warning
                span
                    b Alert! 
                    span The associated course was removed!
        
        .section-container
            if file.assignment
                h1= file.assignment.name
            
            h2#thefile(fileid=file._id)= file.name
            
            if file.notes.length > 0
                p.lead= file.notes.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")

        .section-container
            h2 Students
            
            +card-container
                for usr in file.students
                    +card()
                        +card-simple(usr.name + " " + usr.surename, "/group/" + file.assignment.group._id + "/user/" + usr._id)
                        +card-icons()
                            if user.admin
                                a.btn.btn-success.btn-card-icon.cpointer(href="/group/" + file.assignment.group._id + "/user/" + usr._id)
                                    span.oi.oi-list
                            a.btn.btn-primary.btn-card-icon.cpointer(href="mailto:" + usr._id + "@student.utwente.nl")
                                span.oi.oi-envelope-open


            if user.admin
                .section-buttons
                    - var mailStudents = file.students.map(s => s._id + "@student.utwente.nl,")
                    a.btn.btn-outline-primary.btn-section.cpointer(href="mailto:" + mailStudents)
                        span.oi.oi-envelope-open

        if file.urls.length > 0
            .section-container 
                h2 Files

                +card-container
                    for f in file.urls
                        +card()
                            +card-simple(f.split("/")[6].split("?")[0], f)(target="_blank")
                            +card-icons()
                                a.btn.btn-primary.btn-card-icon.cpointer(href=f target="_blank")
                                    span.oi.oi-data-transfer-download

                .section-buttons
                    a.btn.btn-outline-primary.btn-section.cpointer(href=zipURL)
                        span.oi.oi-data-transfer-download

        if file.feedback.length > 0 || user.admin
            .section-container
                h2 Feedback
                if file.feedback.length > 0
                    p.lead#feedbackMessage= file.feedback.replace(new RegExp("\n", 'g'), "<br>").replace(new RegExp("  ", 'g'), " &nbsp")
                else
                    p.lead#feedbackMessage You did not provide any feedback yet!
                
                if user.admin
                    .section-buttons
                        button.btn.btn-outline-primary.btn-section.cpointer(type="button" data-toggle="modal" data-target="#feedbackModal")
                            span.oi.oi-pencil

    +modal("feedbackModal", "Feedback Hand-in", "primary", "Update Feedback", false)
        .form-group
            label.control-label(for="feedback") Feedback
            textarea.form-control#feedback(rows="5")= file.feedback