extends structure/default.jade

include includes/modalHelper.jade
include includes/basic.jade

block prepend header
    - var homeActive = true

block append scripts
    script(src="/scripts/includes/modalHelper.js")
    script(src="/scripts/hub.js")
    script
        |$('.datepicker').datepicker();
    script(src="/scripts/includes/timeline.js")

block content
    .container
        .section-container
            if user.admin
                h2 My Courses
            else 
                h2 Enrolled Courses
            if courses.length == 0
                if user.admin
                    p.lead You are not assigned to any course yet! You can create one with the button below.
                else 
                    p.lead You are not yet enrolled in any courses!
            else
                +card-container()
                    for group in courses
                        +card()(class="courseCard")
                            +card-simple(group.name, "/group/"+group._id)
                            +card-timeline(group.start, group.end)
                            +card-icons()
                                a.btn.btn-primary.btn-card-icon.cpointer(href="/group/" + group._id)
                                    span.oi.oi-home
                                if user.admin
                                    button.btn.btn-warning.btn-card-icon.cpointer(class="manipulate" data-toggle="modal" data-target="#updateCourse" target="#update_courseName" attr-data='{"value": "#{group.name}", "start": "#{group.start}", "end":"#{group.end}", "course": "#{group._id}"}')
                                        span.oi.oi-cog
                                    button.btn.btn-danger.btn-card-icon.cpointer(class="manipulate" data-toggle="modal" data-target="#removeCourse" target="#removeCourseName" text-data="#{group.name}" attr-data='{"course": "#{group._id}"}')
                                        span.oi.oi-trash

            if user.admin
                .section-buttons
                    button.btn.btn-outline-primary.btn-section.cpointer(type="button" data-toggle="modal" data-target="#addCourse")
                        span.oi.oi-plus

    if user.admin
        mixin courseModal(id)
            +text("Course Name", id + 'courseName')
            .row
                .col-sm-8.mt-4
                    +date("Start Date", id + 'courseStart')
                .col-sm-8.mt-2
                    +date("End Date", id + 'courseEnd')

        +modal('addCourse', 'Create a New Course', 'primary', 'Create Course')
            +courseModal('')

        +modal('updateCourse', 'Edit Course', 'primary', 'Update Course')
            +courseModal('update_')

        +modal('removeCourse', 'Are you sure?', 'danger', 'Delete Course')
            .alert.alert-warning
                p
                    b Warning! 
                    | Your are about to delete the course: '
                    span#removeCourseName
                    |'!
                p All students and admins will be removed from the course and the course set-up will be destroyed! This process is 
                    b unrecoverable
                    |!
            .alert.alert-info 
                p 
                    b Note 
                    | Hand-in data (files, feedback and reflections) will be kept but can only be accessed through direct links.