extends structure/default.jade

include includes/basic.jade
include includes/accordion.jade

block prepend header
    - var resultActive = true

block append scripts
    script(src="/scripts/results.js")

block content
    .container
        - var hasRemovedGroups = false
        for group in fullUser.groups
            if !group.group && group.files.length > 0
                - hasRemovedGroups = true
            else if group.files.length > 0
                +acc-item(group.group._id, group.group.name, false, group.group.start.toLocaleDateString() + " to " + group.group.end.toLocaleDateString(), true)
                    +card-container()
                        for file in group.files
                            +card()
                                if file.file.assignment
                                    +card-simple(file.file.assignment.name, "/file/" + file.file._id)
                                        span= file.file.name
                                    .card-date-sepperator
                                    if file.file.assignment.typ != "open"
                                        if file.file.timestamp > file.file.assignment.due
                                            .card-date.d-flex.card-date-done.bg-warning
                                                .mr-auto.small= file.file.timestamp.toDateString()
                                                .ml-auto.small= file.file.assignment.due.toDateString()
                                        else
                                            .card-date.d-flex.card-date-done.bg-success
                                                .mr-auto.small= file.file.timestamp.toDateString()
                                                .ml-auto.small= file.file.assignment.due.toDateString()
                                    else
                                        .card-date.d-flex.card-date-done.bg-success
                                            .mr-auto.small= file.file.timestamp.toDateString()
                                else 
                                    +card-simple("Removed Assignment", "/file/" + file.file._id)(class="text-danger")
                                        span= file.file.name
                                    .card-date-sepperator
                                        .card-date.d-flex.card-date-done.bg-success
                                            .mr-auto.small= file.file.timestamp.toDateString()
                                +card-icons()
                                    a.btn.btn-primary.btn-card-icon.cpointer(href="/file/" + file.file._id)
                                        span.oi.oi-list

        if hasRemovedGroups
            - var randomDate = new Date()
            +acc-item("removedGroups", "Removed Groups", false, "", true)
                for group in fullUser.groups
                    if !group.group && group.files.length > 0
                        +card-container()
                            for file in group.files
                                +card()
                                    if file.file.assignment
                                        +card-simple(file.file.assignment.name, "/file/" + file.file._id)
                                            span= file.file.name
                                        .card-date-sepperator
                                        if file.file.assignment.typ != "open"
                                            if file.file.timestamp > file.file.assignment.due
                                                .card-date.d-flex.card-date-done.bg-warning
                                                    .mr-auto.small= file.file.timestamp.toDateString()
                                                    .ml-auto.small= file.file.assignment.due.toDateString()
                                            else
                                                .card-date.d-flex.card-date-done.bg-success
                                                    .mr-auto.small= file.file.timestamp.toDateString()
                                                    .ml-auto.small= file.file.assignment.due.toDateString()
                                        else
                                            .card-date.d-flex.card-date-done.bg-success
                                                .mr-auto.small= file.file.timestamp.toDateString()
                                    else
                                        +card-simple("Removed Assignment", "/file/" + file.file._id)(class="text-danger")
                                            span= file.file.name
                                        .card-date-sepperator
                                        .card-date.d-flex.card-date-done.bg-success
                                            .mr-auto.small= file.file.timestamp.toDateString()
                                    +card-icons()
                                        a.btn.btn-primary.btn-card-icon.cpointer(href="/file/" + file.file._id)
                                            span.oi.oi-list