extends structure/default.jade

include includes/basic.jade
include includes/accordion.jade

block headerTitle
    h1
        a(href="/") ATLAS Hub 
    h2#subheader Result Overview

block append scripts
    script(src="/scripts/includes/timeline.js")

block append styles
    link(href="/styles/results.css" rel="stylesheet")

block content
    .container
        +accordion("accGroups")
            - var hasRemovedGroups = false
            for group in fullUser.groups
                if !group.group
                    - hasRemovedGroups = true
                else
                    +acc-item("accGroups", group.group._id, group.group.name, group.group.start.toLocaleDateString() + " to " + group.group.end.toLocaleDateString())
                        .row
                            for file in group.files
                                .card-holder.col-md-3.col-sm-4.col-xs-6
                                    .file-card
                                        a.card(href="/file/" + file.file._id)
                                            if file.file.assignment
                                                if file.file.assignment.typ == "open" || file.file.assignment.due > file.file.timestamp
                                                    .assignmentStateBulb.back-done
                                                else
                                                    .assignmentStateBulb.back-late
                                                if file.file.feedback.length == 0
                                                    .assignmentStateFeedback.back-normal
                                                else 
                                                    .assignmentStateFeedback.back-done
                                                .yAlign
                                                    h3.special= file.file.assignment.name
                                                    h4#subheadersmall= file.file.name
                                                    +timeline(group.group.start, group.group.end, file.file.timestamp)(class="hidden")
                                            else 
                                                .yAlign
                                                    h3.special.red Removed Assignment!
                                                    h4#subheadersmall= file.file.name
                                                    +timeline(group.group.start, group.group.end, file.file.timestamp)(class="hidden")
            if hasRemovedGroups
                - var randomDate = new Date()
                +acc-item("accGroups", "removedGroups", "Removed Groups")
                    for group in fullUser.groups
                        if !group.group
                            for file in group.files
                                .card-holder.col-md-3.col-sm-4.col-xs-6
                                    .file-card
                                        a.card(href="/file/" + file.file._id)
                                            if file.file.assignment
                                                if file.file.assignment.typ == "open" || file.file.assignment.due > file.file.timestamp
                                                    .assignmentStateBulb.back-done
                                                else
                                                    .assignmentStateBulb.back-late
                                                if file.file.feedback.length == 0
                                                    .assignmentStateFeedback.back-normal
                                                else 
                                                    .assignmentStateFeedback.back-done
                                                .yAlign
                                                    h3.special= file.file.assignment.name
                                                    h4#subheadersmall= file.file.name
                                                    +timeline(randomDate, randomDate, file.file.timestamp)(class="hidden")
                                            else 
                                                .yAlign
                                                    h3.special.red Removed Assignment!
                                                    h4#subheadersmall= file.file.name
                                                    +timeline(randomDate, randomDate, file.file.timestamp)(class="hidden")
