include ../../includes/basic.jade

+card-container
    for file in theAssignment.files
        +card()
            +card-simple(theAssignment.name, "/file/" + file._id)
                span #{file.students[0].name} #{file.students[0].surename} 
                - var done = file.students[0]._id
                for student in file.students
                    if student._id != done
                        span / #{student.name} #{student.surename} 
                .card-date-sepperator
                if theAssignment.typ != "open"
                    if file.timestamp > theAssignment.due
                        .card-date.d-flex.card-date-done.bg-warning
                            .mr-auto.small= file.timestamp.toDateString()
                            .ml-auto.small= theAssignment.due.toDateString()
                    else
                        .card-date.d-flex.card-date-done.bg-success
                            .mr-auto.small= file.timestamp.toDateString()
                            .ml-auto.small= theAssignment.due.toDateString()
                else
                    .card-date.d-flex.card-date-done.bg-success
                        .mr-auto.small= file.timestamp.toDateString()
                +card-icons()
                    a.btn.btn-primary.btn-card-icon(href="/file/" + file._id)
                        span.oi.oi-pencil