extends ../groupAdminPage.jade

include ../../includes/basic.jade

block append scripts
    script(src="/scripts/includes/cardicons.js")
    script(src="/scripts/includes/selectTrigger.js")
    script(src="/scripts/includes/timeline.js")

block append styles
    link(href="/styles/flip.css" rel="stylesheet")

block nav_right
    +navbar-a("/group/" + group._id, group.name)

    +navbar-dropdown("Feedback", "feedbackDropdown")
        +dropdown-a("/group/" + group._id + "/feedback/latest", "Feedback Oldest Handin")
        +dropdown-a("/group/" + group._id + "/feedback", "Feedback List")

    +navbar-dropdown("Results", "resultsDropdown")
        +dropdown-a("/group/" + group._id + "/user", "Results by Student")
        +dropdown-a("/group/" + group._id + "/assignment", "Result by Assignment")

block headerTitle
    h1
        a(href="/group/" + group._id)= group.name
    h2#subheader To-Feedback List

block groupContent
    h1 Hand-ins
    - var allFiles = []
    for assignment in group.assignments
        - allFiles.push.apply(allFiles, assignment.files.filter(f => f.feedback.length == 0))
    - allFiles.sort((a, b) => { return a.timestamp - b.timestamp })
    if allFiles.length == 0
        p All hand-ins already have feedback :)
    else 
        .row
            for file in allFiles
                - var assignment = group.assignments.find(a => a._id == file.assignment)
                +flipper()(class="group")
                    +front-card() 
                        if assignment.typ == "open" || assignment.due > file.timestamp
                            .assignmentStateBulb.back-done
                        else
                            .assignmentStateBulb.back-late
                        if file.feedback.length == 0
                            .assignmentStateFeedback.back-normal
                        else 
                            .assignmentStateFeedback.back-done
                        .yAlign
                            h3.special= assignment.name
                            h4#subheadersmall
                                span #{file.students[0].name} #{file.students[0].surename} 
                                - var done = file.students[0]._id
                                for student in file.students
                                    if student._id != done
                                        span / #{student.name} #{student.surename} 
                            +timeline(group.start, group.end, file.timestamp)(class="hidden")
                    +back-card()
                        +card-icons() 
                            .bottom-icons
                                +card-icon-a("/file/" + file._id, 'Feedback', 'pencil')