extends ../groupAdminPage.jade

include ../../includes/basic.jade
include ../../includes/accordion.jade

block append scripts
    script(src="/scripts/includes/timeline.js")
    script(src="/scripts/userOverview.js")

block append styles
    link(href="/styles/results.css" rel="stylesheet")

block nav_right
    +navbar-a("/group/" + group._id, group.name)

    +navbar-dropdown("Feedback", "feedbackDropdown")
        +dropdown-a("/group/" + group._id + "/feedback/latest", "Feedback Oldest Handin")
        +dropdown-a("/group/" + group._id + "/feedback", "Feedback List")

    +navbar-dropdown("Results", "resultsDropdown")
        +dropdown-a("/group/" + group._id + "/user", "Results by Student")
        +dropdown-a("/group/" + group._id + "/assignment", "Result by Assignment")

block groupContent
    if group.students.length == 0
        .section-container
            h2 Results
            p.lead The course does not have any students
    else 
        for user in group.students
            if user.groups.find(g => g.group == group._id).files.length == 0
                .section-container
                    h2= user.name + " " + user.surename + " (" + user._id + ")"
                    p.lead The student did not hand in any assignments yet!
            else
                +acc-item(user._id.replace(/\./g, ""), user.name + " " + user.surename + " (" + user._id + ")", student && user._id == student._id, "Total submissions: " + user.groups.find(g => g.group == group._id).files.length, true)(class="userResultsGet" user=user._id group=group._id)
                    .userResultsSet(user=user._id)
                        if student && user._id == student._id
                            +card-container()
                                for finalFiles in files
                                    - var file = finalFiles.file
                                    +card()
                                        +card-simple(file.assignment.name, "/file/" + file._id)
                                            span= file.name
                                        .card-date-sepperator
                                        if file.assignment.typ != "open"
                                            if file.timestamp > file.assignment.due
                                                .card-date.d-flex.card-date-done.bg-warning
                                                    .mr-auto.small= file.timestamp.toDateString()
                                                    .ml-auto.small= file.assignment.due.toDateString()
                                            else
                                                .card-date.d-flex.card-date-done.bg-success
                                                    .mr-auto.small= file.timestamp.toDateString()
                                                    .ml-auto.small= file.assignment.due.toDateString()
                                        else
                                            .card-date.d-flex.card-date-done.bg-success
                                                .mr-auto.small= file.timestamp.toDateString()
                                        +card-icons()
                                            a.btn.btn-primary.btn-card-icon.cpointer(href="/file/" + file._id)
                                                span.oi.oi-pencil